# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
tpz/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Output files
results/
temp/

# Temporary audio chunks
*_chunk_*.wav

# Large media files
*.mov
*.MOV
*.wav

# Large library files
*.dylib
